{% import "macros.html" as macros %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <link rel="dns-prefetch" href="{{ config.base_url }}">
    <title>{% block title %}{{ config.title }}{% endblock title %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href='{{ get_url(path="main.0cf68a.css", trailing_slash=false) }}'>
    <script src='{{ get_url(path="main.0cf68a.js", trailing_slash=false) }}'></script>
    <script src='{{ get_url(path="mobile.992cbe.js", trailing_slash=false) }}'></script>
    <script src='{{ get_url(path="slider.e37972.js", trailing_slash=false) }}'></script>
    {% if config.generate_feed %}
    <link rel="alternate" type={% if config.feed_filename == "atom.xml" %}"application/atom+xml"{% else %}"application/rss+xml"{% endif %} title="RSS" href="{{ get_url(path=config.feed_filename) | safe }}">
    {% endif %}

    {% block extra_head %}
    {% endblock extra_head %}
</head>
<body>
<div id="container" q-class="show:isCtnShow">
    <canvas id="anm-canvas" class="anm-canvas"></canvas>
    <div class="left-col" q-class="show:isShow">
        {{ macros::left_col() }}
    </div>
    <div class="mid-col" q-class="show:isShow,hide:isShow|isFalse">
        <div id="wrapper" class="body-wrap">
            <div class="menu-l">
                <div class="canvas-wrap">
                    <canvas data-colors="#eaeaea" data-sectionHeight="100" data-contentId="js-content" id="myCanvas1" class="anm-canvas"></canvas>
                </div>
                <div id="js-content" class="content-ll">
                    {% block content %}
                    {% endblock content %}
                </div>
            </div>
        </div>
        {{ macros::footer() }}
    </div>
    {{ macros::after_footer() }}
</div>
</body>
</html>